.home-container {
  min-height: 100vh;
}

.home-content {
  display: flex;
}

.videos-section {
  flex-grow: 1;
  padding: 20px;
}

.banner {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
}

.search-container input {
  flex-grow: 1;
  padding: 8px;
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
}
